* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#detail {
  background-color: antiquewhite;
  height: 90vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  border-radius: 25px 25px 0 0;
}

#createBtn {
  background-color: blue;
  width: 40px;
  height: 7px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
}

#scheduleContainer {
  display: flex;
  height: 80vh;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 50px; */
}

#contents {
  background-color: orange;
  overflow: scroll;
  display: flex;
  height: 80vh;
}

#timeBox {
  background-color: cadetblue;
  width: 100px;
  height: 300vh;
  font-size: 26px;
  text-align: center;
  line-height: 100px;
}

#timeLine {
  background-color: aquamarine;
  width: 50vw;
  height: 300vh;
}

#inputBox {
  background-color: brown;
  /* height: 90vh; */
  width: auto;
}

#saveBtn {
  background-color: blueviolet;
  width: 30px;
  height: 30px;
}
