* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#timeBox {
  background-color: cadetblue;
  height: 90vh;
  width: 100px;
  font-size: 30px;
  overflow: scroll;
}

#timeLine {
  background-color: aquamarine;
  height: 90vh;
}

#scheduleContainer {
  display: flex;
}

#detail {
  background-color: antiquewhite;
  height: 90vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  border-radius: 25px 25px 0 0;
}

#contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#createBtn {
  background-color: blue;
  width: 30px;
  height: 30px;
}

#saveBtn {
  background-color: blueviolet;
  width: 30px;
  height: 30px;
}

#inputBox {
  background-color: brown;
  height: 90vh;
}
